{%extends "base.html"%}
{%block center%}
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
    <div id="homepage" class="clear">
        <!-- ###### -->
         <div id="left_column">
	<h2>Notices</h2>
	<ul style = "color:black;">       
	{%for i in w %}
		<li>{{i.notice}}</li>
	{%endfor%}   
	</ul>
        </div>
     
      <!-- ############ -->
      <div id="content" style = "margin-left:20px;">
        <h1 style = "color:black;">About Us</h1>
        <p style = "color:black;font-size:1.1em;line-height:1.3;margin-right:-50px;">Brig. Gurbachan Singh Bal, Sarpanch of village Sathiala Distt. Amritsar dedicated his life to better the lot of the rural poor and the village community. For this purpose, he started Baba Gobind Senior Secondary Public School in his own spacious bungalow in village Sathiala in 1975. This school is also known as "KOTHI SCHOOL" in the local community.<br/>
The school has 50 airy rooms and its campus is spread across 3 acres of land in the natural surroundings of the village. The school consists of 45 trained teachers and 12 non-teaching members.<b>Smt. Nanvinderjeet Kaur M.A., M.Phil,B.Ed.</b> is the Principal of the school. <br/><br/> The affairs of the school are managed by <a href = "/about#trust">Baba Gobind & Brig. G.S. Bal Trust.</a><br/><br/>
The school is specially catering to the needs of the economically weaker sections of the society.<br/><b>S. Satwant Singh</b>, resident of Sathiala village and now residing in USA, whose aim is to help poor and weaker sections of the village, donates Rs. 50,000 for the fee, books and uniform of 104 poor students of the village.<br/><br/>Many VIP's and important personalities have attended functions and gatherings at the school. S. Sarabjit Singh D.C, S. Manmohan Singh (Ex. M.L.A.), Ranjit Singh Brahmpura cabinet minister, S.D.M Baba Bakala, Tehsildar Baba Bakala, Manjit Singh MLA, Lt Gen (Retd) R.S. Sujlana, Chairman Punjab Public Service Commission have graced various occassions in the school. <br/> </p>

	<h2 id="trust" style = "color:black;">Baba Gobind & Brig. G.S. Bal Trust</h2>

	<p style = "color:black;">	Baba Gobind Senior Secondary Public School is run by a Trust.
	The Trust was headed by Brig. G.S. Bal as its President of the Trust from 1975 to 1990.	After his death, the mental was taken by his younger brother Col. Joginder Singh Bal was the President from 1990 to 2013. Maj Gen(Retd) Gurpal Singh is the current present President of the Trust.<br/>
Gen. Bal has a vast experience having supervised the functioning of many schools in his Army carrer spanning 38 years. He is currently the Dean of Student Welfare at Amity University Gurgaon, Manesar.  No wonder, Baba Gobind and Brig. Bal Senior Secondary Public School is now one of the leading schools in the District.  The following are the names of  the members of the trust commmittee.
<br/>
Vice President: 
Members: 
</p>
        </div>
      <!-- ############ -->
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
</div>
<!-- ####################################################################################################### -->
{%endblock%}
