{%extends "base.html"%}
{% block center %}
<!-- ####################################################################################################### -->
<!-- ####################################################################################################### -->
{%load static from staticfiles%}
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
 <div id="homepage" class="clear">
        <!-- ###### -->
                <div id="left_column">
	<h2>Notices</h2>
	<ul style = "color:black;">       
	{%for i in w %}
		<li>{{i.notice}}</li>
	{%endfor%}   
	</ul>
        </div>
<div id ="content" style ="color:black;margin-left:10px;">

		<h2 style = "margin-top:-12px;color:#42ace0;padding:10px; "><center>Academics</center></h2>


		<div class = "page-header">		
		<h2>Affilation</h2>
		</div>
		<center><img src = "{% static 'img/logo.png'%}"style = "height:200px;"></center>

<p style = "margin-top:20px;line-height:1.3;float:left;font-size:14px;">Baba Gobind and Brig. Bal Senior Secondary Public School is affilated to Punjab School Education Board and the instiution offers education in both English and Punjabi medium. </p><br/><br/>
		<div class = "page-header">
		<h2>Curriculum</h2>
		</div>
		<p style = "font-size:14px;line-height:1.3;">{% autoescape off %}
{{text|safe}}
{% endautoescape %}
</p>
</div>
</div>

      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
{%endblock%}
