{%extends "base.html"%}
{% block center %}
<!-- ####################################################################################################### -->
<!-- ####################################################################################################### -->
{%load static from staticfiles%}
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
 <div id="homepage" class="clear">
        <!-- ###### -->
        <div id="left_column">
          <h2>Prospective Students</h2>
          <ul style = "margin-left:-10px;color:black;">
		<li>The admissions for the session 2013-2014 are in progress. </li>
		<li>Students taking admissions in XI class have to wait till the results are out.</li>
	  </ul>
 	  <h2>Current Students</h2>
          <ul style = "margin-left:-10px;color:black;">
		<li>The next fee installment is to be paid latest by 14th August,2013 </li>
		<li>Students appearing for board examinations this year have to submit 2 passport size photographs to their class teachers by 10th August for the board forms.</li>
	  </ul>
        </div>
<div id ="content" style ="color:black;margin-left:10px;">

		<h2 style = "margin-top:-12px;color:#42ace0;padding:10px; "><center>Academics</center></h2>


		<div class = "page-header">		
		<h2>Affilation</h2>
		</div>
		<center><img src = "{% static 'img/logo.png'%}"style = "height:200px;"></center>

<p style = "margin-top:20px;line-height:1.3;float:left;font-size:14px;">Baba Gobind and Brig. Bal Senior Secondary Public School is affilated to Punjab School Education Board and the instiution offers education in both English and Punjabi medium. </p><br/><br/>
		<div class = "page-header">
		<h2>Curriculum</h2>
		</div>
		<p style = "font-size:14px;line-height:1.3;">At present the students are prepared for Classes I to XII.<br /><br/>

Class I - V:&nbsp;&nbsp;&nbsp;English, Hindi, Mathematics, E.science, General Studies, Value Education, Art Education, Work Experience and Computer Science.<br/><br/>
Class VI - X:&nbsp;&nbsp;English, Hindi, Sanskrit, Mathematics, General Sciences, Value Education, Art Education, Work Experience, Physical Education and Computer Science.<br/><br/>
Class XI - XII:&nbsp;English, Hindi, Economics, Accountancy, Bussiness Studies, Music and Physical Education.<br/><br/>
</p>

		<div class = "page-header">		
		<h2>Examination Rules</h2>
		</div>
<p style = "margin-top:-15px;line-height:1.3;float:left;font-size:14px;">The objective of the test and the examination is not merely to record the pupil's achievements but also to assess and identify the student's academic strengths and weaknesses. The results disclosed by these tests should be used by the teacher to adapt more closely to the individual needs and capabilities of the student and whereever necessary, to organise special instructions in areas where their individual weaknesses have been identified.</p>
<h5 style = "font-size:26px;">Minimum Attendance Necessary for Annual Examination</h5>
<p style = "margin-top:-10px;line-height:1.3;float:left;font-size:14px;">A student may not be allowed to sit in the annual examination if he/she has not put in a minimum of 75% of the total attendance of the academic session, including attendance in previous school if the student has been admitted on transfer. The Principal is authorised to condone shortage in attendance upto 15% in special circumstances meriting this concession e.g. illness etc., i.e. permit a student with 60% attendance to take the annual examination.</p><br/><br/>
<h5 style = "font-size:26px;">Declaration of results</h5>
<p style = "margin-top:20px;line-height:1.3;float:left;font-size:14px;">The results of the annual examination declared by the Principal in the first week of April.</p><br/>
<h5 style = "font-size:26px;">Assesment Rules</h5>
<p style = "margin-top:20px;line-height:1.3;font-size:14px;">The final assessment of a student at the end of the academic year shall be based on his total achievements.</p><br/>
<h5 style = "font-size:26px;">Promotion</h5>
<p style = "margin-top:20px;line-height:1.3;float:left;font-size:14px;">
    <br/>&#8594;If a pupil fails to appear either in the half-yearly examination of periodical tests on genuine grounds as illustrated in the following Article, he/she may be allowed proportionate credit for such a test or half-yearly examination for the purpose of final assessment for promotion to the next class in the following manner :-
<br/><br/>
        "The number of marks obtained by the various tests, sessional work and annual examination minus the periodical test or half-yearly examination, which he/she has missed, may be worked out. The total so arrived at, may be proportionately increased taking into account the maximum marks of the missing test".

<br/>    <br/>&#8594;For example, for a student who has not appeared in the half-yearly examination, the total marks obtained by him on the basis of his annual record may e worked out for the miximum of 80 makrs (20 marks being assigned to half-yearly examination), and then projected to the maximum base of 10 marks. Thus, if the credit for a student for periodical test, class work and home assignments and annual examination works out to say, 60 out of 80, excluding the credit for half yearly test which he/she has missed due to illness, the total credit on the basis of the above formula will be 75 marks out of 100 marks.
<br/>    <br/>&#8594;The same criteria shall be adopted for working out credit for any other periodical test which a pupil might have missed on account of illness etc.
<br/>    <br/>&#8594;The above concession will be admissible only in the bonafide cases (i) of illness supported be medical certificate from a Government or Municipal Hospital, (ii) of transfer of parents during the period of examination, and (iii) where a student could not take the test or examination for reasons beyond his contral.
<br/>    <br/>&#8594;A pupil, who fails to appear in the annual examination even through he/she has secured sufficient marks in periodical tests and half-yearly examination, will be deemed to have failed in the annual examination and shall not be promoted to the next higher class. Where, however, the absence from the annual examination was due to reasons beyond the control of the pupil, he/she will be given a supplementary examination on order of the Principal. The Principal may at his/her discretion refer cases to the Chairman whose decision will be final.
</p>
</div>
</div>

      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
{%endblock%}
