<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Baba Gobind and Brig. Bal Senior Secondary Public School</title>
{% load static from staticfiles%}
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="stylesheet" href="{% static 'styles/layout.css'%}" type="text/css" />
</head>
<body id="top" style = "color:black;">
<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h2 style = "font-size:2em;"><a href="index.html">Baba Gobind and Brig. Bal Senior Secondary Public School</a></h2>
      <p>Education for all</p>
    </div>
    <div class="fl_right" style = "margin-top:10px;margin-left:30px;margin-right:-5em;">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">A - Z Index</a></li>
        <li class="last"><a href="#">Staff Login</a></li>
      </ul>
     
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div class="rnd">
    <!-- ###### -->
    <div id="topnav">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/academics">Academics</a></li>
        <li><a href="/parent-information">Parent Information</a></li>
        <li><a href="/activities">Activities</a></li>
        <li><a href="/facilities">Facilities</a></li>
        <li><a href="/about#trust">About The Trust</a></li>
        <li class="last"><a href="/achievements">Achievements</a></li>
      </ul>
    </div>
    <!-- ###### -->
  </div>
</div>
{% block center%}
{%endblock%}
<div class="wrapper row4">
  <div class="rnd">
    <div id="footer" class="clear">
      <!-- ####################################################################################################### -->
      <div>
	<div class = "float:left;">
        <address style =  "float:left">
        Baba Gobind and Brig. Bal Senior Secondary Public School<br />
    	Village Sathiala,<br />
        District Amritsar,<br />
        Punjab<br />
        Email: <a href="babagobindschool@yahoo.com">babagobindschool@yahoo.com</a>
        </address>
	</div>
	<div style = "float:left;">
		<ul style = "list-style :none;display:inline;float:left;font-size:14px;">
			<a href = ""><li style="display:inline;float:left;padding-left:20px;">About the school</li></a>
			<a href = ""><li style="display:inline;float:left;padding-left:20px;">Trust Commitee</li></a>
			<a href = ""><li style="display:inline;float:left;padding-left:20px;">Facilities</li></a>
			<a href = ""><li style="display:inline;float:left;padding-left:20px;">Achievements</li></a><br/>
			<p style = "margin-top:5px;margin-left:200px;"><center>
			<a href = ""><li style="display:inline;float:left;padding-left:20px;">Support Us</li></a>
			<a href=""><li style = "display:inline;float:left;padding-left:20px;">Donations</li></a>
		</center></p>
		</ul>
	<br/>
	<center><p style = "font-size:14px;">All rights reserved by <a href = "">Brig. Bal and Baba Gobind Trust School</a></p></center>
	</div>
      </div>

      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
</body>
</html>

<script type="text/javascript" src="{% static 'scripts/jquery-1.4.1.min.js'%}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery-ui-1.7.2.custom.min.js'%}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.tabs.setup.js'%}"></script>

