{%extends "base.html"%}
{% block center %}
<!-- ####################################################################################################### -->
 {%include "lc.html"%}
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
<div id="homepage" class="clear">
        <!-- ###### -->
        <div id="left_column">
	<h2>Notices</h2>
	<ul style = "color:black;">       
	{%for i in w %}
		<li>{{i.notice}}</li>
	{%endfor%}   
	</ul>
        </div>
	<!--    - ###### -->
        <div id="content" class = "clear">
		<h2 style = "color:rgb(134, 203, 100);"><center>Facilities</center></h2>
		<div style ="color:black;text-decoration:none;margin-left:30px;"><span style = "color:black;line-height:1.2;">
We at Baba Gobind and Brig. Bal Senior Secondary Public School, believe in all-round and holistic development of a child and we provide a pleothera of facilities to our students for their complete development in all aspects. </span>
<br/><br/>

<ul style="list-style:none;">
	<h4>School Assembly</h4>
	<li>To inculcate moral values</li>
	<li>To motivate students towards their Religion</li>
	<li>Theme based class assembly</li>
</ul>
<ul style="list-style:none;">
	<h4>Laboratories</h4>
	<li>For enhancing scientific aptitude</li>
	<li>Well designed and well equipped labs for Chemistry, Biology, Physics, Maths etc.</li>
	<li>Air conditioned computer labs</li>
</ul>
<ul style="list-style:none;">
	<h4>Seminars and workshops</h4>
	<li>Career Talks acquaint students with latest trends and options</li>
	<li>Frequent in-service workshops for staff to update their skills</li>
	<li>Regular grooming session for students and teachers</li>
</ul>
<ul style="list-style:none;">
	<h4>Library</h4>
	<li>Well stocked school library with rich reference section</li>
	<li>Wide range of books ranging from fiction, Science, Encyclopedia & general reading</li>
</ul>
<ul style="list-style:none;">
	<h4>Activity Rooms </h4>
	<li>For kindling creativity with special emphasis on creative and expressive arts.</li>
	<li>Quality staff for imparting soft skills</li>
</ul>
<ul style="list-style:none;">
	<h4>Infirmary</h4>
	<li>Regular medical check up of all students twice a year by qualified Doctors </li>
	<li>First aid facility available in case of emergency</li>
</ul></div>
</div>
      
        <!-- ###### -->
        </div>
      <!-- ####################################################################################################### -->
      
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
{%endblock%}
