{%extends "base.html"%}
{%block center%}
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <div id="gallery" class="clear">
        <ul>
{%load static from staticfiles%}
  <li><a href="{%static 'img/BABA GOBIND SCHOLL SNAP 3.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 10"><img src="{%static 'img/BABA GOBIND SCHOLL SNAP 3_2.jpg'%}" alt="" /></a></li>

          <li><a href="{%static 'img/1_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 1"><img src="{%static 'img/1_2.jpg'%}" alt="" /></a></li>

          <li><a href="{%static 'img/Baba Gobind faculty_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 7"><img src="{%static 'img/Baba Gobind faculty_2.jpg'%}" alt="" /></a></li>


          <li><a href="{%static 'img/Baba Gobind Path_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 9"><img src="{%static 'img/Baba Gobind Path_2.jpg'%}" alt="" /></a></li>        

          <li class = "last"><a href="{%static 'img/6_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 3"><img src="{%static 'img/6_2.jpg'%}" alt="" /></a></li>

          <li class=""><a href="{%static 'img/14_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 5"><img src="{%static 'img/14_2.jpg'%}" alt="" /></a></li>

          <li><a href="{%static 'img/Baba Gobind dad_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 6"><img src="{%static 'img/Baba Gobind dad_2.jpg'%}" alt="" /></a></li>


          <li><a href="{%static 'img/Baba Gobind function_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 8"><img src="{%static 'img/Baba Gobind function_2.jpg'%}" alt="" /></a></li>

  <li><a href="{%static 'img/3_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 2"><img src="{%static 'img/3_2.jpg'%}" alt="" /></a></li>
        

          <li  class= "last"><a href="{%static 'img/BABA GOBIND SCHOOL snap4_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 11"><img src="{%static 'img/BABA GOBIND SCHOOL snap4_2.jpg'%}" alt="" /></a></li>

          <li  ><a href="{%static 'img/BABA GOBIND SCHOOL snap 2_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 12"><img src="{%static 'img/BABA GOBIND SCHOOL snap 2_2.jpg'%}" alt="" /></a></li>

          <li><a href="{%static 'img/BABA GOBIND SCHOOL snap 6_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 13"><img src="{%static 'img/BABA GOBIND SCHOOL snap 6_2.jpg'%}" alt="" /></a></li>

          <li><a href="{%static 'img/BABA GOBIND SCHOOL SNAP16_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 14"><img src="{%static 'img/BABA GOBIND SCHOOL SNAP16_2.jpg'%}" alt="" /></a></li>

          <li class=""><a href="{%static 'img/BABA GOBIND SCHOOL SNAP 15_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 15"><img src="{%static 'img/BABA GOBIND SCHOOL SNAP 15_2.jpg'%}" alt="" /></a></li>

          <li class="last"><a href="{%static 'img/BABA GOBIND SCHOOL SNAP 19_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 15"><img src="{%static 'img/BABA GOBIND SCHOOL SNAP 19_2.jpg'%}" alt="" /></a></li>

          <li class=""><a href="{%static 'img/BABA GOBIND SCHOOL SNAP 20_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 15"><img src="{%static 'img/BABA GOBIND SCHOOL SNAP 20_2.jpg'%}" alt="" /></a></li>

          <li class=""><a href="{%static 'img/BABA GOBIND SCHOOL SNAP 23_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 15"><img src="{%static 'img/BABA GOBIND SCHOOL SNAP 23_2.jpg'%}" alt="" /></a></li>

          <li class=""><a href="{%static 'img/BABA GOBIND SCHOOL SNAP 26_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 15"><img src="{%static 'img/BABA GOBIND SCHOOL SNAP 26_2.jpg'%}" alt="" /></a></li>

          <li class="last "><a href="{%static 'img/BABA GOBIND SHOOL SNAP11_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 15"><img src="{%static 'img/BABA GOBIND SHOOL SNAP11_2.jpg'%}" alt="" /></a></li>
          <li class=""><a href="{%static 'img/Baba gobind students 2_2.jpg'%}" rel="prettyPhoto[gallery1]" title="Image 15"><img src="{%static 'img/Baba gobind students 2_2.jpg'%}" alt="" /></a></li>

        </ul>
      </div>
      <!-- ####################################################################################################### -->
            <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
{%endblock%}
