{%extends "base.html"%}
{% block center %}
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="featured_slide" class="clear">
    <!-- ###### -->
    <div class="overlay_left"></div>
    <div id="featured_content">
{%load static from staticfiles%}
      <div class="featured_box" id="fc1"><img src="{% static 'img/6_2.jpg' %}" style = "width : 550px;" alt="" />
        <div class="floater">
          <h2>3 Acre campus</h2>
          <p>The school runs in the bungalow of Brig. Gurbachan Singh Bal,former Sarpanch of the village. The school is dedicated to poor and under-priviledged children of the village. The school is also known as "KOTHI SCHOOL" in the locality.</p>
        </div>
      </div>
      <div class="featured_box" id="fc2"><img src="{% static 'img/14_2.jpg' %}" style = "width : 550px"alt="" />
        <div class="floater" style = "float:right;">
          <h2>Computer Education</h2>
          <p>We believe in an all-round development of students. In present era, a person without computer education is hardly recognised. We at the school,provide regular classes for the computer training. </p>
        </div>
      </div>
      <div class="featured_box" id="fc3"><img src="{% static 'img/3_2.jpg' %}" style = "width:550px;"alt="" />
        <div class="floater" style = "float:right">
          <h2>Cultural Events</h2>
          <p>Brig. Bal and Baba Gobind Trust School regularly organizes various cultural events and many religious festivals are also celeberated.</p>
        </div>
      </div>
      <div class="featured_box" id="fc4"><img src="{% static 'img/1_2.jpg' %}" style = "width : 550px;" alt="" />
        <div class="floater" style = "float:right;">
          <h2>Achievements</h2>
          <p>Our achievement is the success of our student. Our students are placed at good positions in various MNCs and studying at various reputed institutions of the world. </p>
        </div>
      </div>
      <div class="featured_box" id="fc5"><img src="{% static 'img/BABA GOBIND SCHOOL SNAP 26_2.jpg' %}" style ="width :550px;"alt="" />
       <div class="floater" style = "float:right;">
          <h2>Commmittee Members</h2>
          <p>The affairs of the school are managed by Baba Gobind and Brig. Bal Trust, headed by Maj. Gen. G.S. Bal . Gen. Bal has a vast experience in managing schools and has supervised many educational institutions in the Army.</p>
        </div>
  
         </div>

    </div>
    <ul id="featured_tabs">
      <li><a href="#fc1">3 acre lush green campus</a></li>
      <li><a href="#fc2">Computer education</a></li>
      <li><a href="#fc3">Cultural Events</a></li>
      <li><a href="#fc4">Achievements</a></li>
      <li class="last"><a href="#fc5">Commitee Members</a></li>
    </ul>
    <div class="overlay_right"></div>
    <!-- ###### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
<div id="homepage" class="clear">
        <!-- ###### -->
        <div id="left_column">
          <h2>Prospective Students</h2>
          <ul style = "margin-left:-10px;color:black;">
		<li>The admissions for the session 2013-2014 have taken place. </li>
		<li>__ number of students have taken admission during the current academic year.</li>
	  </ul>
 	  <h2>Current Students</h2>
          <ul style = "margin-left:-10px;color:black;">
		<li>The next fee installment is to be paid latest by 14th August,2013 </li>
		<li>Students appearing for board examinations this year have to submit 2 passport size photographs to their class teachers by 10th August for the board forms.</li>
	  </ul>
        </div>
        <!-- ###### -->
        <div id="latestnews">
		<h2 style = "margin-top:50px;color:rgb(134, 203, 100);"><center>Our School</center></h2>
		<div style ="padding-top:20px;padding-bottom:"><span style = "font-weight:2;font-size:30px;color:black;">B</span><span style = "color:black;line-height:1.2;">aba Gobind and Brig. Bal Senior Secondary Public School was established in 1975 at village Sathiala, District Amritsar in the bungalow of Brig. Gurbachan Singh Bal, Sarpanch of the village. The school is dedicated to the poor and under-priviledged children. The school is also known as The &#8220;KOTHI SCHOOL&#8221; in the locality.<br/> The school runs entirely on donations and a very nominal fee is charged from the students.</span>
<br/><br/>
<a class="self-button" href = "the-school.html">Learn More &#8594;</a>
<center><p style="border:1px solid rgb(134, 203, 100);width:80%;margin-top:80px;"></p></center>

<h2 style = "margin-top:50px;color:rgb(245, 86, 90);"><center>Our Mission</center></h2>

<span style = "color:black;line-height:1.3">Education is a basic right and we do believe that it is the most important factor in the development of a child after food, and shelter. We here at the KOTHI SCHOOL provide the students the best possible education along with basic facilities such as Clean drinking water, toilets for boys and girls and regular medical checkups. <br />
Our misssion is to provide quality education to every child of the village so that they become responsible and responsive citizens of the country.
</span>
<br/><br/>
<a class="self-button1" href = "/mission">Learn More &#8594;</a>
<center><p style="border:1px solid rgb(245, 86, 90);width:80%;margin-top:80px;"></p></center>


<h2 style = "margin-top:50px;color:rgb(52, 163, 219);"><center>About the Trust</center></h2>

<span style = "color:black;line-height:1.3">The school is being run under the umbrella foundation of Baba Gobind and Brig. G.S. Bal Trust. At present, Maj. Gen. (Retd.) Gurpal Singh, Retd. General is the president of the trust which runs the school and to assist him there is a Vice President and 16 other members of the Trust.</span>
<br/><br/>

<a class="self-button2" href = "/the-trust">Learn More &#8594;</a>
<center><p style="border:1px solid rgb(52, 163, 219);width:80%;margin-top:80px;"></p></center>

<h2 style = "margin-top:50px;color:rgb(245, 86, 90);"><center>Alumni</center></h2>



<span style = "color:black;line-height:1.3">The school has a strong alumni base. Students after passing from this school have been gainfully employed and are well placed with Governmental and non-Governmental agencies.
</span>
<br/><br/>

<a class="self-button1" href = "/alumni" style = "font-size:19px;">Browse the Alumni &#8594;</a>
<center><p style="border:1px solid rgb(245, 86, 90);;width:80%;margin-top:80px;"></p></center>
</div>
</div>
      
        <!-- ###### -->
        <div id="right_column">
          <div class="holder">
            <h2>Virtual Tour</h2>
            <a href="#"><img src="images/demo/video.gif" alt="" /></a> </div>
          <div class="holder">
            <h2>Quick Information</h2>
            <div class="apply"><a href="#"><img src="images/demo/100x100.gif" alt="" /> <strong>Make An Application</strong></a></div>
            <div class="apply"><a href="#"><img src="images/demo/100x100.gif" alt="" /> <strong>Order A Prospectus</strong></a></div>
          </div>
        </div>
        <!-- ###### -->
      </div>
      <!-- ####################################################################################################### -->
      
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
{%endblock%}
