{%extends "base.html"%}
{% block center %}

<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
 <div id="homepage" class="clear">
        <!-- ###### -->
               <div id="left_column">
	<h2>Notices</h2>
	<ul style = "color:black;">       
	{%for i in w %}
		<li>{{i.notice}}</li>
	{%endfor%}   
	</ul>
        </div>
<div id ="content" style ="color:black;margin-left:10px;">
<h2 style = "font-size:24px;font-weight:2;margin-top:-9px;">Information to Parents</h2>
		<p style = "line-height:1.2">India is a land of people from various social and cultural backgrounds and we here at Brig. Bal and Baba Gobind School celeberate many of the Indian Festivals to inculcate the love for various cultures and societies of our motherland, India. We also celeberate days of National importance like Independence Day and Republic Day. <br/> </p>
	<h3>Upcoming events</h3>
	<p style = "line-height:1.2">
	<ul style = "line-height:1.2">
		<li>Ramleela: 5th October, 2013 to 15th October,2013</li>
		<li>Sangathan : 30th October,2013 to 31st October,2013 </li>
		<li>Annual Day : 5th December,2013 - 6th December,2013 </li>
		<li>Lohri : 13th January,2013</li>
		<li>Republic Day: 26th January,2013</li>
	</ul>
	</p>
	</section>
	<section id="timings">
	<h2 style = "margin-top:30px;"><center>Timings</center></h2>
	
		<h3>Summer timings</h3>
		<p style = "line-height:1.2">
			The school runs in 6 days a week from Monday to Saturday
				<ul style = "line-height:1.2">
				<li>Arrival of buses : 8:00 am</li>
				<li>Morning Prayer : 8:15 am</li>
				<li>Lunch Break : 11:10 am</li>
				<li>Departure of Buses : 1:00 pm</li>
			</ul>
		</p>
		<h3>Winter Timings</h3>
		<p>
			<ul style = "line-height:1.2">
				<li>Arrival of buses : 9:30 am</li>
				<li>Morning Prayer : 9:45 am</li>
				<li>Lunch Break : 12:40 am</li>
				<li>Departure of Buses : 3:00 pm</li>
			</ul>
		</p>
		<br/>
	<!--	<h3>Office Timings</h3>
		<ul style = "line-height:1.2">
			<li>Monday to Saturday : 9:00 am to 4:00 pm</li>
			<li>Sunday : Holiday</li>
		</ul>-->
	</section>
	<section id ="guidelines">
		<h2>Guidelines to parents and students</h2>
		<p style = "line-height:1.2">
		<ul  style = "line-height:1.2">
			
				<li>Students are given regular home work. Parents are required to monitor work done by students at home.</li>
				<li>Students are requested to come in uniform daily.</li>
				<li>Students are provided regular health check-up and various other medical facilites.</li>
				<li>Students strictly require 75 % attendance to be eligible to appear in the examinations.</li>
			</ul>
		</p>
	</section>
</div>
</div>

      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
{%endblock%}
