{%extends "base.html"%}
{% block center %}

<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
 <div id="homepage" class="clear">
        <!-- ###### -->
               <div id="left_column">
	<h2>Notices</h2>
	<ul style = "color:black;">       
	{%for i in w %}
		<li>{{i.notice}}</li>
	{%endfor%}   
	</ul>
        </div>
<div id ="content" style ="color:black;margin-left:10px;">
<h2 style = "font-size:24px;font-weight:2;margin-top:-9px;">Information to Parents</h2>
		<p style = "line-height:1.4;font-size:16px;">India is a land of people from various social and cultural backgrounds and we here at Brig. Bal and Baba Gobind School celeberate many of the Indian Festivals to inculcate the love for various cultures and societies of our motherland, India. We also celeberate days of National importance like Independence Day and Republic Day. <br/> </p>
		<div style = "font-size:16px;line-height:1.4;">
{% autoescape off %}
{{text|safe}}
{% endautoescape %}

</div>
</div>

      <!-- ####################################################################################################### -->
      <!-- ####################################################################################################### -->
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
{%endblock%}
